language: bash

services:
# Require docker to be running in the build context
- docker

matrix:
  include:
    - env: PROJECT=hash-generator
    - env: PROJECT=hash-registry
    - env: PROJECT=examples/poc/shop
    - env: PROJECT=examples/poc/user-accounting
    - env: PROJECT=examples/poc/user-email
    - env: PROJECT=examples/poc/ca
    - env: PROJECT=examples/poc/hash-registry

# script: if .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT; then bash bin/docker-build.sh $PROJECT; fi

# env:
#   matrix:
#     - PROJECT=hash-generator
#     - PROJECT=hash-registry
#     - PROJECT=examples/poc/shop
#     - PROJECT=examples/poc/user-accounting
#     - PROJECT=examples/poc/user-email
#     - PROJECT=examples/poc/ca
#     - PROJECT=examples/poc/hash-registry

# env:
#   - PROJECT=hash-generator
#   - PROJECT=hash-registry
#   - PROJECT=examples/poc/shop
#   - PROJECT=examples/poc/user-accounting
#   - PROJECT=examples/poc/user-email
#   - PROJECT=examples/poc/ca
#   - PROJECT=examples/poc/hash-registry

jobs:
  include:
    - stage: build
      if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=hash-generator
      script: echo "building $PROJECT"
    - stage: build
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=hash-registry
      script: echo "building $PROJECT"
    - stage: build
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=examples/poc/shop
      script: echo "building $PROJECT"
    - stage: build
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=examples/poc/user-accounting
      script: echo "building $PROJECT"
    - stage: build
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=examples/poc/user-email
      script: echo "building $PROJECT"
    - stage: build
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=examples/poc/ca
      script: echo "building $PROJECT"
    - stage: build
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT = 0
      env: PROJECT=examples/poc/hash-registry
      script: echo "building $PROJECT"

    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=hash-generator
      script: echo "deploying $PROJECT"
    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=hash-registry
      script: echo "deploying $PROJECT"
    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=examples/poc/shop
      script: echo "deploying $PROJECT"
    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=examples/poc/user-accounting
      script: echo "deploying $PROJECT"
    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=examples/poc/user-email
      script: echo "deploying $PROJECT"
    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=examples/poc/ca
      script: echo "deploying $PROJECT"
    - stage: deploy
      # if: .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT
      env: PROJECT=examples/poc/hash-registry
      script: echo "deploying $PROJECT"

stages:
  - build
  - deploy
