.results-column {
	position: relative;
	width: 100%;
}

.results-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	background-color: $color-traffic-white;
	.ad-column {
		display: none;
	}
	@include breakpoint(xl) {
		.filters-column {
			min-width: 220px;
			margin-right: 20px;
			order: 1;
		}
		.results-column {
			flex-grow: 1;
			order: 2;
		}
	}
	@include breakpoint('min-width: 1150px') {
		.ad-column {
			display: block;
			width: 300px;
			min-width: 300px;
			margin-left: 20px;
			position: relative;
			order: 3;
			img {
				width: 100%;
			}
		}
	}
	.results-container {
		.outer-left {
			background-color: $white;

			@include breakpoint(xxs) {
				& {
					border: 0;
				}
			}
			@include breakpoint(lg) {
				 & {
					 border-right: 1px solid $color-gray-ddd;
				 }
			}
		}
	}
}

.showresult .results-wrapper .trips {
	padding: 10px;
	.outbound {
		margin-bottom: 5px;
	}
	.bound {
		background-color: $white;
		color: $color-gray-888;
		padding: 10px;
		margin-bottom: 0;
		span {
			color: $color-blue-celestial-like;
			padding-left: 5px;
		}
	}
	.bound-short {
		display: none;
	}
	.trip {
		.top {
			background-color: $color-blue-link-water-like;
		}
	}
	.segments {
		color: $main-font;
		background-color: $container-background;
	}
	@include breakpoint(xxs) {
		.bound {
			span:first-of-type {
				&:after {
					left: 20px;
					bottom: 19px;
					border-width: 20px;
				}
			}
		}
	}
	@include breakpoint(sm) {
		.bound {
			span:first-of-type {
				&:after {
					left: 20px;
					bottom: 19px;
					border-width: 20px;
				}
			}
		}
	}
}

.results-container {
	position: relative;
}

.result {
	position: relative;
	border-style: solid;
	border-width: 3px 6px;
	border-color: $color-gray-ddd;
	background-color: $color-white-ghost-like;
	transition: border-color 400ms linear;
	&:first-of-type {
		border-width: 6px 6px 3px 6px;
	}
	&:last-of-type {
		border-bottom: 6px solid $color-gray-ddd;
	}
	.contents {
		display: table;
		width: 100%;
	}
	.left {
		position: relative;
		width: 100%;
		background-color: $white;
		.row {
			display: table-row;
		}
		.cell {
			display: block;
		}
		.agents,
		.agents-other {
			display: none;

			&.active {
				display: block;
			}

		}
		.trips {
			.cell {
				vertical-align: top;
			}
		}
	}
	.right {
		background-color: $white;
		position: relative;
		.right-inner {
			display: table;
			width: 100%;
			.right-table-info {
				display: table-cell;
				padding: 5px 1px 5px 5px;
				vertical-align: top;
				width: 33%;
				&.active {
					display: table-row;
				}
				.btn-more-info {
					font-size: 12px;
					height: 25px;
					line-height: 25px;
					width: 100%;
					max-width: 140px;
					color: $color-blue-dark-pastel-like;
					border-color: $color-blue-dark-pastel-like;
					margin: 20px auto 0 auto;
					@include rounded(2px);
					@include box-shadow(none);
					.btn-text {
						padding: 0 8px;
					}
					.btn-icon {
						border-left: 1px solid $color-blue-dark-pastel-like;
					}
				}
			}
			.right-table-goto {
				display: table-cell;
				width: 33%;
				padding: 4px;
				vertical-align: top;
			}
			.right-mobile-show-more-agencies {
				display: table-cell;
				padding: 4px;
				vertical-align: top;
				width: 33%;
			}
		}
	}
	.left-right-columns-wrapper {
		display: table;
		width: 100%;
		border-bottom: 1px solid $color-gray-ccc;
	}
	.more-agencies-footer {
		background-color: $white;
		.footer-row {
			padding: 10px;
			width: 100%;
			display: none;
			@include breakpoint(lg) {
				display: table;
			}
			.footer-cell {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				min-width: 5px;
				width: 100%;
				&.tickettype {
					width: 100px;
				}
				&:first-of-type {
					width: 100px;
				}
				&.plus, &.chevron {
					width: 40px;
					text-align: center;
					cursor: pointer;
				}
				&.agent-cell {
					white-space: nowrap;
					text-align: right;
					width: auto;
					padding: 0 5px;
					font-size: 12px;
					cursor: pointer;
					.agent-name, .agent-price {
						display: inline-block;
						white-space: nowrap;
					}
					.agent-price {
						margin-left: 5px;
					}
				}
				&.more-agencies {
					-ms-user-select: none;
					-moz-user-select: none;
					-webkit-user-select: none;
					color: $color-blue-celestial-like;
					font-size: 1.1rem;
					font-weight: 700;
					text-decoration: underline;
					cursor: pointer;
					white-space: nowrap;
					padding-right: 10px;
					text-align: right;
				}
				.icon-chevron-down:before,
				.icon-plus:before,
				.icon-chevron-up:before,
				.icon-minus:before {
					color: #959595;
					font-size: 12px;
				}
			}
			.btn-more-info {
				font-size: 12px;
				height: 25px;
				line-height: 25px;
				color: $color-blue-dark-pastel-like;
				border-color: $color-blue-dark-pastel-like;
				margin-top: 0;
				@include rounded(2px);
				@include box-shadow(none);
				.btn-text {
					padding: 0 8px;
				}
				.btn-icon {
					border-left: 1px solid $color-blue-dark-pastel-like;
				}
			}
			.btn-tickettype {
				margin-left: 10px;
				height: 20px;
				line-height: 20px;
				padding: 0 4px;
				font-size: 10px;
				border-radius: 8px;
				color: $color-green-gossip-like;
				border-color: $color-green-gossip-like;
			}
			.agent-name {
				color: #959595;
				font-weight: 700;
			}
			.agent-price {
				color: $color-brown-auburn-like;
				font-weight: 700;
			}
		}
	}
	.bound {
		z-index: 1;
		position: relative;
		margin: 0 0 2px;
		background-color: #d2d2d2;
		font-weight: 700;
		text-transform: uppercase;
		color: $color-blue-chambray-like;
		@include font-smoothing();
		.bottom {
			position: absolute;
			left: 0;
			bottom: -10px;
			border-width: 10px 20px 0 0;
			border-color: #d2d2d2 transparent transparent transparent;
			border-style: solid;
			&:before {
				z-index: -1;
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				border-width: 10px 20px 0 0;
				border-color: #fff transparent transparent transparent;
				border-style: solid;
			}
		}
	}
	.btn-more-info {
		width: 100%;
		.btn-icon:before {
			content: "\002B";
		}
	}
	.btn-show-share {
		display: none;
		top: 80px;
	}
	.share-table {
		display: table;
		width: 100%;
		margin: 0;
		border-bottom: 2px solid $color-gray-eee;
		padding: 0;
		border-bottom: 0;
		.share-cell {
			box-sizing: border-box;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			padding: 0 2px;
			height: 30px;
			width: 30px;
			.share-btn {
				display: block;
				line-height: 30px;
				height: 30px;
				width: 30px;
				border-radius: 100%;
				text-decoration: none;
				color: $white;
				margin: auto;
				background: #e5e5e5;
				i {
					display: block;
					font-size: 16px;
					height: 16px;
					width: 16px;
					line-height: 16px;
					position: absolute;
					margin-left: 7px;
					margin-top: 7px;
					margin-right: 7px;
				}
			}
			.share-fb {
				&.active {
					background: $color-blue-lochmara-like;
				}
			}
			.share-mail {
				&.active {
					background: $color-red-jasper-like;
				}
			}

			.share-link {
				&.active {
					background: #7f7f7f;
				}
			}
		}
	}
	.btn-show-payment-methods {
		display: none;
		top: 50px;
	}
	.btn-show-share,
	.btn-show-payment-methods {
		.btn-text:first-child {
			padding: 0;
		}
		color: $color-blue-endeavour1-like;
		font-size: 11px;
	}
	.outclick-section {
		display: table;
		width: 100%;
	}
	.more-agencies-section {
		margin-top: 15px;
		display: block;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		span {
			color: $color-blue-celestial-like;
			text-decoration: underline;
			display: inline-block;
			font-weight: bold;
			font-size: 12px;
		}
	}
	.go-to-section {
		background-color: $white;
		text-align: center;
		text-decoration: none;
		border: 2px solid $color-yellow-light1-orange;
		display: table-cell;
		width: 100%;
		margin: 10px;

		.go-to-container {
			display: block;
			width: auto;
			vertical-align: middle;
			.agency-image-container {
				vertical-align: middle;
				padding-top: 5px;
				display: block;
			}
		}
		.price-info {
			display: none;
			position: absolute;
			top: -30px;
			margin: 0;
			text-align: center;
			line-height: 12px;
			font-size: 11px;
			color:$color-gray-aaa;
			width: 100%;
			transition: all .2s linear;
		}
		.top {
			display: block;
			line-height: 2;
			background-color: $color-yellow-light1-orange;
			color: $color-gray-333;
			white-space: nowrap;
			position: relative;
			&.top-above {
				font-size: 11px;
				display: none;
			}
			&.top-below {
				display: block;
			}
		}
		.icon-info {
			position: relative;
			top: 1px;
			display: none;
			color: $white;
			@include breakpoint("min-width: 1170px") {
				display: inline-block;
			}
		}
		.agency-image {
			display: block;
			margin: 0 auto;
		}
		.price {
			font-size: 20px;
			margin: 0 auto 5px auto;
			display: block;
		}
		.btn-go-to {
			margin-bottom: 0;
			border-color: transparent;
			text-align: center;
			border: 0;
			display: block;
			min-width: auto;
			line-height: 24px;
			.btn-text {
				display: none;
				max-width: 166px;
				overflow: hidden;
				&.mobile {
					display: block;
				}
				@include breakpoint(lg) {
					display: block;
					&.mobile {
						display: none;
					}
				}
				&.price {
					display: inline;
					font-size: 20px;
					i {
						font-size: 12px;
						padding-left: 2px;
					}
				}
				@include breakpoint(md) {
					max-width: none;
				}
			}
			.btn-recommended {
				position: absolute;
				top: 0;
				width: 100%;
				line-height: 1.9;
				height: 19px;
				text-align: center;
				background: #57a3dc;
				font-size: 11px;
				color: $white;
				display: none;
			}
			&.btn-go-to-below {
				display: none;
			}
			&.btn-go-to-above {
				display: block;
				@include rounded(0);
				@include box-shadow(none);
			}
		}
		.recommended-popup {
			display: none;
			z-index: 2;
			position: absolute;
			bottom: 40px;
			line-height: 1.5;
			border: 1px solid $color-gray-ddd;
			padding: 4px;
			background-color: $white;
			text-align: left;
			font-size: 11px;
			color: $color-gray-666;
			span {
				white-space: normal;
			}
			&:after,
			&:before {
				content: " ";
				position: absolute;
				pointer-events: none;
				right: 57px;
				top: 100%;
				width: 0;
				height: 0;
				border: solid transparent;
			}
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-top-color: $white;
				border-width: 8px;
				margin-left: -8px;
				right: 58px;
			}
			&:before {
				border-color: rgba(221, 221, 221, 0);
				border-top-color: $color-gray-ddd;
				border-width: 9px;
				margin-left: -9px;
			}
		}
		&.recommended {

			.price {
				margin: 0 auto 5px auto;
				font-size: 20px;
			}
			.btn-go-to {
				background-color: $color-yellow-light1-orange;
				.btn-text {
					&.price {
						top: 10px;
						position: relative;
					}
				}
			}
			.top:hover {
				.recommended-popup {
					display: block;
				}
			}
		}
	}

	.mobile-view-detailed-result {
		z-index: 23;
		overflow-y: scroll;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s, opacity 0.2s;
		.mobile-view-detailed-result-header {
			display: table;
			width: 100%;
			position: relative;
			text-align: left;
			padding-left: 10px;
			min-height: 4rem;
			background-color: $color-blue-endeavour1-like;
			color: $white;
			span {
				display: table-cell;
				vertical-align: middle;
			}
			.icon {
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				cursor: pointer;
			}
		}
		.mobile-view-detailed-result-description {
			background-color: $white;
			padding: 5px 10px 0 10px;

		}
		.mobile-view-detailed-result-content {
			padding: 10px;
			background-color: $white;
			@include breakpoint(lg) {
				display: none;
			}
		}
		.agency-image-container {
			width: 60%;
		}
		.go-to-section {
			display: block;
			margin-bottom: 10px;
			width: auto;
			&:last-child {
				margin-bottom: 0;
			}
			.go-to-container {
				display: table;
				width: 100%;
				vertical-align: middle;
				.agency-image-container {
					display: table-cell;
				}
				.btn-go-to {
					line-height: 40px;
				}
			}
			&.recommended {
				.btn-go-to {
					background-color: $white;
					.btn-recommended {
						display: block;
					}
				}
			}
		}
		&.visible {
			opacity: 1;
			visibility: visible;
		}
		@include breakpoint(lg) {
			&.visible {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.mobile-view-detailed-result-overlay {
		z-index: 2;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: rgba($black, .7);
		transition: visibility 0s, opacity 0.2s;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
		@include breakpoint(lg) {
			&.visible {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&:hover {
		border-color: $color-gray-888;
		.share-table {
			.share-cell {
				.share-fb {
					background: $color-blue-lochmara-like;
				}
				.share-mail {
					background: $color-red-jasper-like;
				}
				.share-link {
					background: #7f7f7f;
				}
			}
		}
	}

	@include breakpoint(sm) {
		margin-bottom: 14px;
		.right {
			.right-inner {
				display: table;
				width: 100%;
			}
		}
	}

	@include breakpoint(md) {
		margin-bottom: 0;
		.go-to-section {
			width: 100%;
			margin: 10px;
			.price-info {
				display: block;
			}
			.agency-image {
				margin: 5px auto;
			}
			.price {
				margin: 5px auto;
				display: block;
			}
			.btn-go-to {
				display: block;
				min-width: auto;
				line-height: 24px;
				.btn-text {
					display: block;
				}
				.btn-recommended {
					display: none;
				}
				&.btn-go-to-below {
					display: block;
					@include rounded(0);
					@include box-shadow(none);
				}
				&.btn-go-to-above {
					display: none;
				}
			}
			.go-to-container {
				display: block;
				width: auto;
				vertical-align: middle;
				.agency-image-container {
					display: block;
				}
			}
			.top {
				display: block;
				&.top-above {
					display: block;
				}
				&.top-below {
					display: none;
				}
			}
		}
	}

	@include breakpoint(lg) {
		.outer-left {
			display: table-cell;
			width: 80%;
		}
		.agents {
			.agents-wrapper.expandable {
				.agent.recommended:nth-child(n+8) {
					.top {
						display: none;
					}
				}
			}
			.agents-wrapper.expandable.expanded {
				.agent.recommended:nth-child(n+8) {
					.top {
						display: block;
					}
				}
			}
		}
		.left {
			width: 100%;
			.agents,
			.agents-other {
				display: table;
				width: 100%;
			}
			.cell {
				display: table-cell;
			}
		}
		.right {
			display: table-cell;
			width: 100%;
			min-width: 140px;
			vertical-align: top;
			position: relative;
			.right-inner {
				display: block;
				width: auto;
				position: static;
				margin: 10px;
				.right-table-info {
					display: block;
					padding: 0;
					vertical-align: top;
					width: auto;
					.btn-more-info {
						display: none;
					}
				}
				.right-table-goto {
					display: block;
					width: 100%;
					padding: 0;
					vertical-align: top;
				}
			}
		}
		.btn-more-info,
		.btn-show-share,
		.btn-show-payment-methods,
		.go-to-section {
			position: relative;
			right: 0;
			margin: 0;
			width: auto;
			&.recommended {
				.btn-go-to {
					line-height: 2.5;
					.btn-text {
						&.price {
							top: auto;
							position: relative;
						}
					}
				}
			}
		}
		.btn-more-info {
			display: table;
			position: relative;
			width: 100%;
			margin: 10px 0 0 0;
			right: auto;
			top: auto;
			.btn-text {
				width: 80%;
			}
		}
		.btn-show-share {
			display: block;
		}
		.btn-show-payment-methods {
			display: block;
		}
		.share-table {
			display: table;
			margin: 10px 0;
			padding: 0;
			border-bottom: 0
		}
		.more-agencies-section {
			display: none;
		}
	}
	@include breakpoint("min-width: 896px") {
		.agents {
			.agents-wrapper.expandable {
				.agent.recommended:nth-child(8) {
					.top {
						display: block;
					}
				}
				.agent.recommended:nth-child(n+9) {
					.top {
						display: none;
					}
				}
			}
			.agents-wrapper.expandable.expanded {
				.agent.recommended:nth-child(n+9) {
					.top {
						display: block;
					}
				}
			}
		}
	}
	@include breakpoint(xl) {
		.agents {
			.agents-wrapper.expandable {
				.agent.recommended:nth-child(n+8) {
					.top {
						display: none;
					}
				}
			}
			.agents-wrapper.expandable.expanded {
				.agent.recommended:nth-child(n+8) {
					.top {
						display: block;
					}
				}
			}
		}
	}
	@include breakpoint("min-width: 1190px") {
		.agents {
			.agents-wrapper.expandable {
				.agent.recommended:nth-child(8) {
					.top {
						display: block;
					}
				}
				.agent.recommended:nth-child(n+9) {
					.top {
						display: none;
					}
				}
			}
			.agents-wrapper.expandable.expanded {
				.agent.recommended:nth-child(n+9) {
					.top {
						display: block;
					}
				}
			}
		}
	}
}

.outclick-section {
	display: table;
  	width: 100%;
}

.trip {
	.top {
		position: relative;
		padding: 0 10px 0 27px;
		background-color: #eceded;
		color: $color-gray-888;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			border-width: 10px 20px 0 0;
			border-color: #eceded transparent transparent transparent;
			border-style: solid;
		}
	}
	.trip-warning {
		display: inline-block;
		padding: 1px;
		color: $white;
		font-size: 10px;
		border-radius: 10px;
		.icon {
			position: relative;
			top: 1px;
		}
		&.long-duration {
			background-color: #a43125;
		}
		&.airport-change {
			background-color: #f5bf07;
		}
	}
	.top-time {
		float: right;
		text-align: right;
	}
	.segments {
		display: table;
		table-layout: fixed;
		width: 100%;
		&.expanded {
			margin-bottom: 10px;
			display: none;
		}
	}
	.flights {
		display: table-cell;
		vertical-align: middle;
		padding: 0;
		.flights-row {
			display: table;
			width: 100%;
		}
		@include breakpoint(sm) {
			padding: 10px;
		}
	}
	.flight {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: $color-gray-bright-like;
		height: 70px;
		display: table-cell;
		vertical-align: middle;
		.icon.arrow {
			color: $color-blue-celestial-like;
			font-size: 20px;
			position: relative;
			top: 8px;
		}
		.flight-row {
			display: table;
			width: 100%;
			margin-bottom: 10px;
			.flight-row-cell {
				display: table-cell;
				vertical-align: bottom;
				&.iata-from {
					font-size: 12px;
					text-align: right;
					padding: 0 10px;
					width: auto;
					@include breakpoint(sm) {
						width: 140px;
					}
				}
				&.iata-to {
					font-size: 12px;
					padding: 0 10px;

				}
				.time-iata {
					font-size: 14px;
					@include breakpoint(xs) {
						font-size: 18px;
					}
				}
				&.icon {
					text-align: center;
					vertical-align: middle;
				}
				&:nth-of-type(3) {
					width: 170px;
				}
				&.stops {
					width: 120px;
					vertical-align: middle;
					text-align: center;
					.line {
						margin: auto;
						width: 100px;
						height: 2px;
						background-color: $color-blue-celestial-like;
						text-align: center;
					}
					.dot {
						width: 10px;
						height: 10px;
						border-radius: 50%;
						border: 2px solid $color-blue-celestial-like;
						background-color: $white;
						position: relative;
						left: 35%;
						top: -4px;
						margin-left: -5px;
						margin-bottom: -10px;
					}
					&.red {
						color: $color-brown-auburn-like;
						.line {
							background-color: $color-brown-auburn-like;
						}
						.dot {
							border-color: $color-brown-auburn-like;
						}
					}
					.iata-wait-time {
						font-size: 12px;
						margin-bottom: 4px;
						.icon-clock {
							font-size: 10px;
							margin-right: -3px;
						}
					}
					.stop-count {
						font-size: 12px;
						position: relative;
						top: 4px;
						margin-bottom: 4px;
					}
				}
				&.iata-to {
					padding-right: 10px;
				}
				.date-string {
					font-size: 12px;
				}
				.date-string-short {
					font-size: 10px;
					display: none;
				}
			}
			.cell-view-flightmap {
				display: table-cell;
				vertical-align: middle;
				padding: 2px 10px 0 10px;
				height: 20px;
				width: 30px;
				.icon-view-flightmap {
					position: relative;
					line-height:20px;
					margin-top: 2px;
					text-decoration: none;
					font-size: 14px;
					color: $color-blue-endeavour1-like;
				}
			}
			.flight-info-row {
				display: table-cell;
				vertical-align: middle;
				height: 20px;
				span {
					font-size: 12px;
					color: $color-blue-celestial-like;
					position: relative;
					top: 3px;
					display: inline-block;
					overflow: hidden;
				}
				.aircraft-type {
					max-width: 130px;
					@include breakpoint(sm) {
						max-width: 200px;
					}
					text-overflow: ellipsis;
				}
			}
		}
		@include breakpoint(sm) {
			border-left: 1px dotted $color-gray-ccc;
		}

	}
	.airlines {
		display: none;
		vertical-align: middle;
		padding: 0 10px 0 0;
		width: 80px;
		&.has-wait {
			padding-bottom: 40px;
		}
	}
	.airline-logo {
		float: none;
		margin-left: 10px;
		max-width: 60px;
		max-height: 30px;
	}
	.airline-text {
		float: right;
	}
	.icon-arrow {
		&:before {
			content: "\2192";
		}
	}
	@include breakpoint(sm) {
		.segments {
			table-layout: auto;
		}
		.airlines {
			display: table-cell;
		}
	}
}

.extra {
	display: table-row;
	border-bottom: 2px solid #e5e5e5;
	.more-button {
		position: relative;
		height: 23px;
		cursor: pointer;
		span {
			font-weight: bold;
			padding-right: 6px;
		}
		i {
			font-size: 12px;
		}
		&:after {
			content: "";
			position: absolute;
			left: -23px;
			bottom: 0;
			width: 23px;
			height: 100%;
			border-style: solid;
			border-width: 0 0px 23px 23px;
			border-color: transparent transparent #E5E5E5 transparent;
		}
		.icon {
			&:before {
				content: '\002B';
			}
		}
	}
	.more-info {
		float: right;
		text-align: right;
		background: #e5e5e5;
		padding: 2px 10px;
	}
	.more-share {
		float: left;
		text-align: left;
		background: $color-gray-eee;
		padding: 2px 2px 2px 10px;
		&:after {
			content: "";
			position: absolute;
			left: auto;
			right: -23px;
			bottom: 0;
			width: 23px;
			height: 100%;
			border-style: solid;
			border-width: 0 23px 23px 0;
			border-color: transparent transparent $color-gray-eee transparent;
		}
	}
	@include breakpoint(lg) {
		display: none;
	}
}

.agents {
	background: $color-white-ghost-like;
	.cell {
		vertical-align: bottom;
		padding: 10px 10px 10px 0;
	}
	.agents-wrapper {
		display: none;
		height: 0;
		overflow: hidden;
		padding-top: 12px;
		transition: max-height 1s ease;
		&.expanded {
			.agent:hover {
				.top {
					display: block;
				}
			}
		}
	}
	.agent-row {
		border-style: solid;
		border-width: 1px 0 1px 0;
		border-color: $color-gray-ccc;
		display: table;
		width: 100%;
		padding: 10px 0;
		margin-bottom: -1px;
		&.recommended {
			border: 1px solid $color-blue-celestial-like;
			margin-bottom: 0;
			margin-top: -1px;
		}
		.agent-cell {
			vertical-align: middle;
			font-weight: 700;
			display: table-cell;
			width: 140px;
			&:nth-of-type(2){
				width: auto;
			}
			& .label {
				color:$color-gray-aaa;
				&.recommended {
					color: $color-blue-celestial-like;
				}
			}
			.price {
				font-size: 20px;
				margin: 0;
			}
			&.go-to-cell {
				background-color: $color-yellow-light1-orange;
				&.recommended {
					background-color: $color-blue-celestial-like;
					.go-to-txt {
						color: $white;
					}
				}
			}
			&:last-of-type {
				width: 10px;
			}
			.go-to-txt {
				color: #353535;
				font-weight: 700;
			}

		}
	}
	.agent {
		height: 60px;
		text-align: center;
		text-decoration: none;
		background: $white;
		@include font-smoothing();
		&.recommended {
			position: relative;
			.top {
				overflow: hidden;
				text-overflow: ellipsis;
				box-sizing: content-box;
				@include rem2px(font-size, 0.9);
				position: absolute;
				top: -13px;
				left: -1px;
				border: 1px solid transparent;
				height: 12px;
				width: 100%;
				background-color: $color-yellow-light1-orange;
				font-weight: 700;
				color: $color-gray-333;
			}
			.price {
				color: $color-brown-auburn-like;
				font-size: 18px;
			}
			.btn {
				background-color: $color-yellow-light1-orange;
			}
		}
		&:hover {
			.price {
				color: $color-brown-auburn-like;
			}
			.go-to {
				background-color: $color-yellow-light1-orange;
				color: $color-gray-333;
			}
		}
		&:nth-of-type(8) ~ .agent .top {
			display: none;
		}
	}
	.agent-img {
		display: block;
		padding-top: 2px;
		margin: 0 auto;
		width: 102px;
		height: 30px;
	}
	.go-to {
		@include rem2px(font-size, 1.2);
		height: 20px;
		text-align: center;
		background-color: #c0c0c0;
		font-weight: 700;
		color: $white;
	}
	.go-to-txt {
		display: inline-block;
		vertical-align: middle;
	}
	&.active {
		.agent {
			.price {
				color: $color-brown-auburn-like;
			}
			.go-to {
				background-color: $color-yellow-light1-orange;
				color: $color-gray-333;
			}
			&.recommended {
				.price {
					color: $color-brown-auburn-like;
				}
				.btn {
					background-color: #57a3dc;
					color: $white;
				}
			}
		}
	}

	@include breakpoint(lg) {
		background: none;
		.cell {
			padding: 0 13px 0 10px;
		}
	}
}

.agents-other {
	font-size: 10px;
	position: relative;
	z-index: 2;
	display: none;
	.cell {
		padding: 6px 10px;
	}
	.view-more-agencies {
		color: $color-gray-333;
	}
}

.result.expanded {
	.agents-other {
		display: block;
	}
	.extra {
		.more-button {
			.icon {
				&:before {
					content: "\2212";
				}
			}
		}
	}
	.btn-more-info {
		.btn-icon:before {
			content: "\2212";
		}
	}
	.trip {
		.segments {
			display: none;
			&.expanded {
				display: block;
				padding: 0;
				.bound {
					padding: 4px;
					@include breakpoint(sm) {
						padding: 10px;
					}
				}
			}
		}
	}
	.flights {
		position: relative;
		display: block;
		padding: 0;
		width: 100%;
		@include breakpoint(sm) {
			padding-left: 10px;
		}
		@include breakpoint(lg) {
			padding-left: 0;
			.airlines {
				padding-right: 0;
			}
		}
	}
	.flight {
		display: table;
		width: 100%;
		border-bottom: 1px solid $color-gray-ddd;
		&.has-wait {
			border-bottom: 0;
		}
		&:last-child {
			border-bottom: 0;
		}
		& .flight-row-cell {

			&.leg-traveltime {
				vertical-align: top;
				text-align: right;
				padding-right: 4px;
				@include breakpoint(sm) {
					padding-right: 10px;
				}
			}
			&.iata-from, &.iata-to {
				padding: 0;
				.date-string {
					font-size: 10px;
				}
				@include breakpoint(sm) {
					padding: 0 10px;
					.date-string {
						font-size: 12px;
					}
				}
			}
			&:first-of-type, &:nth-of-type(3) {
				width: auto;

				@include breakpoint(xs) {
					width: 140px;
					max-width: 140px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			&:nth-of-type(2) {
				width: 40px;
			}

		}
	}
	.cell-row {
		display: block;
		.cell-table {
			display: table;
			table-layout: fixed;
			width: 100%;
		}
		&:nth-child(1) {
			.cell-table {
				.cell-inner {
					padding-bottom: 5px;
				}
			}
		}
		&:nth-child(2) {
			.cell-table {
				.cell-inner {
					padding-top: 0;
				}
			}
		}
	}
	.cell-inner {
		display: table-cell;
		padding: 10px;
		vertical-align: middle;
		p {
			margin: 0;
		}
		&.cell-departure, &.cell-arrival {
			width: auto;
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		&.cell-arrival {
			position: relative;
		}
		&.cell-arrow {
			padding: 10px 0;
			width: 14px;
			padding-top: 11px;
			text-align: center;
		}
		&.cell-view-flightmap {
			padding: 0;;
			width: 24px;
			position: relative;
			left: 10px;
			vertical-align: top;
		}
		&.cell-duration {
			color: $color-gray-666;
			white-space: nowrap;
			p {
				display: inline;
			}
		}
		&.cell-view-flightmap, &.cell-airline {
			text-align: center;
			color: $color-gray-666;
		}
		&.cell-airline {
			width: auto;
			white-space: nowrap;
			text-align: right;
			line-height: 14px;
			font-size: 11px;
			p {
				text-overflow: ellipsis;
				display: inline;
				&:last-child {
					display: block;
				}
			}
		}
	}
	.wait {
		position: relative;
		.icon {
			position: relative;
			margin-left: 10px;
		}
		.timeline {
			position: relative;
			display: block;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
			height: 20px;
			background-color: $color-gray-eee;
			margin: 5px auto;
			.text {
				display: block;
				max-width: 300px;
				margin: auto;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				height: 20px;
			}
			@include breakpoint(xs) {
				width: 90%;
				.text {
					display: inline;
					max-width: none;
				}
			}
			&.red {
				background-color: $color-pink-tutu-like;
				.text {
					color: $color-red-jasper-like;
					.icon-clock {
						font-size: 10px;
					}
				}
			}
		}
		.text {
			position: relative;
			padding: 2px;
			font-size: 12px;
			color: $color-gray-666;
		}
	}

	@include breakpoint(lg) {
		.cell-row {
			display: table-cell;
		}
		.cell-inner {
			&.cell-departure, &.cell-arrival {
				width: 180px;
			}
			&.cell-duration {
				p {
					display: block;
				}
			}
			&.cell-airline {
				width: 160px;
			}
		}
		.wait {
			text-align: center;
			.timeline {
				width: 90%;
			}
		}
		.icon-view-flightmap {
			position: relative;
			left: auto;
		}
	}
}

.global-container {
	.outbound {
		border-bottom: 1px solid $color-gray-ccc;
	}
	.bound {
		color: $color-blue-celestial-like;
		.top-time {
			display: inline;
			font-weight: normal;
			background: none!important;
			color: #888!important;
			float: right!important;
			text-transform: none!important;
			font-size: 1.1rem;
			margin-top: 1px;
			@include breakpoint(sm) {
				margin-top: 0;
				font-size: 1.4rem;
			}
		}
		.trip-warning {
			position: relative;
			bottom: 1px;
			left:20px;

			display: inline-block!important;
			padding: 1px!important;
			color: #fff!important;
			font-size: 10px!important;
			border-radius: 10px!important;
			.icon {
				position: relative;
				top: 1px;
			}
			&.long-duration {
				background-color: #a43125;
			}
			&.airport-change {
				background-color: #f5bf07;
			}
		}
	}
}

.openjaw {
	.global-container {
		.outbound {
			border-bottom: 0;
		}
		.inbound {
			border-top: 1px solid $color-gray-ccc;
			&:last-of-type {
				border-bottom: 1px solid $color-gray-ccc;
				@include breakpoint(lg) {
					border-bottom: 0;
				}
			}
		}
	}
}
