version: '3'

services:
  combiner:
    build: .
    ports:
      - 6900:6900
    environment:
      - SHOP_URL=http://localhost:9000
      - MAIL_URL=http://localhost:7900
      - USER_ACCOUNTING_URL=http://localhost:8900
      - HASH_REGISTRY_URL=http://localhost:5500
      - CA_URL=http://localhost:5700
    volumes:
      - ./index.js:/app/index.js
      - ./public:/app/public
  ca-rethinkdb:
    image: rethinkdb:2.3.6
    networks:
      digital-receipts:
    ports:
      - 127.0.0.1:8081:8080
      - 127.0.0.1:28016:28015
  hash-registry-rethinkdb:
    image: rethinkdb:2.3.6
    networks:
      digital-receipts:
    ports:
      - 127.0.0.1:8080:8080
      - 127.0.0.1:28015:28015
  ca:
    build:
      context: .
      dockerfile: ./ca/Dockerfile
    depends_on:
      - ca-rethinkdb
    networks:
      digital-receipts:
    environment:
      - CA_DB_HOST=ca-rethinkdb
      - CA_DB_PORT=28015
    volumes:
      - ./ca:/app

    ports:
      - 5700:5700

  hash-registry:
    build:
      context: .
      dockerfile: ./hash-registry/Dockerfile
    depends_on:
      - hash-registry-rethinkdb
    networks:
      digital-receipts:
    volumes:
      - ./hash-registry:/app
    environment:
      - REGISTRY_DB_HOST=hash-registry-rethinkdb
      - REGISTRY_DB_PORT=28015
    ports:
      - 5500:5500

  shop:
    build:
      context: .
      dockerfile: ./shop/Dockerfile
    networks:
      digital-receipts:
    volumes:
      - ./shop:/app
    ports:
      - 9000:9000

  user-accounting:
    build:
      context: .
      dockerfile: ./user-accounting/Dockerfile
    networks:
      digital-receipts:
    ports:
      - 8900:8900
    volumes:
      - ./user-accounting:/app

  user-email:
    build:
      context: .
      dockerfile: ./user-email/Dockerfile
    volumes:
      - ./user-email:/app
    networks:
      digital-receipts:
    ports:
      - 7900:7900

networks:
  digital-receipts:
    external:
      name: digital-receipts
